<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>

<header>

    <%- include ('../partials/header.ejs') %> 
</header>
<body>
    <div >
<div class='webinar'> Live webinar <br>
      August 3, 2020 <br>
      Property Appraisal <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      August 12, 2020 <br>
      Construct the Build <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      August 18, 2020 <br>
      Run Up the Profit <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      August 21, 2020 <br>
      Run Up the Profit Pt. 2 <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      September 3, 2020 <br>
      Construct the Grind <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      September 10, 2020 <br>
      The Developer <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      September 20, 2020 <br>
      Advancement <br>
      <input class='register' type='submit' value='register'> 
</div>
<div class='webinar'>
    Live webinar <br>
      September 29, 2020 <br>
      Gettin the Mortgage <br>
      <input class='register' type='submit' value='register'> 
</div>
</div>
    
</body>
</html>