<div  class='nav justify-content-end'>
<nav class='nav-tabs'>
    <a href='/reno'  >Home </a>
    <a href='/new' >Login</a>
    <a href='/reno/new/subscribe' >Subscribe</a>
    <a href='/reno/reviews' >Testimonials</a>
    <a href='/reno/contact' >Contact Us</a>

</nav>
</div>