<div  class='nav justify-content-end'>
<nav class='nav-tabs'>
    <a href='/profile'  >Home </a>

    <% if (login) { %>
   
          
    <% } else { %>
        <a href='/users/new' >Login</a>


        <% } %>
<!----------
        <% if (login) { %>
   
          
            <% } else { %>   ------->
    <a href='/subscribe/new' >Subscribe</a>

   <!-------- <% } %> ------->
    
    <a href='/contact/new' >Contact Us</a>

   
      

    <% if (login) { %>
        <a href='/funding/new' >Funding</a>
        <a href='/profile/webinar' >Webinar</a>
        <a href='/sessions/show' ><%=login.displayname %></a>
        <a href='/sessions' >Logout</a>
        
        <% } else { %>

<% } %>
</nav>

 </div>     
 <br><br 
<h3 class='welcome'>
<% if (login) { %>
<li style='font-size:30px; color:rgb(63, 46, 25); list-style: none;'>Welcome <%= login.username %></li>

    <% } else { %>
    
    <% } %>
    </h3>

    

