<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>

<header>
    <%- include ('./partials/header.ejs') %> 
</header>
<body>
    <br><br>
    <h1 class='contactus'>Contact US</h1> <br><br>
    
    <form class='signing' action='/contact' method='POST'>
        <label type='text' for='email' name='email'>Email</label>
        <input type='text' name='email'> <br>
        <label type='text' for='subject' name='subject'>Subject</label>
        <input type='text' name='subject'>
        <br>
        <label type='text' for='info' name='info'></label>
        <textarea type='text' for='info' name='info'></textarea> <br><br>
        <input class='subscribebutton' type='submit' name='contact' value='Submit'>
        <br> <br>
        
</body>
</html>