<!DOCTYPE html>
<html lang="en">
<head> 
    <%- include ('./partials/head.ejs') %>

    
</head>
<header>
    <%- include ('./partials/header.ejs') %> 
</header>
<body>
    <div class='background'></div>
    <h1 class='renovation'> R <br>e<br>n<br>o<br>v<br>a<br>t<br>i<br>o<br>n</h1>
   <h2>
    <ul> <% for (i=0; i< properties.length; i++){%>
       <li> <%= properties[i].location %> <%= properties[i].img%> </li>

      
       <%}%>

       <iframe width="460" height="215" src="https://www.youtube.com/embed/hsE0WmMNBPk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
      
    </ul>
    </h2>

    
    

    
</body>
</html>