<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ('./partials/head.ejs') %>

</head>
<header>
    <%- include ('./partials/header.ejs') %> 
    
</header>
<body>
    
    <form class='login' action='/reno' method='POST'>
        <label type='text' for='username' name='username'>Username</label>

        <input type='text' name='username'> <br>
        <label type='text' for='password' name='password'>Password</label >
        <input type='password' name='password'>
        <br>
        <input type='submit' name='login' value='login'>
       

    </form>
<!-------need to chang to show route-->
<br> <br>
<h1 class='signup'>Sign Up</h1>
    <form class='signing' action='/reno' method='POST'>
        <label type='text' for='firstname' name='name'>First Name</label>
        <input type='text' name='firstname'> <br>

        <label type='text' for='lastname' name='lastname'>Last Name</label>
        <input type='text' name='lastname'> <br>

        <label type='text' for=' displayname' name='displayname'>Display Name</label>
        <input type='text' name='displayname'> <br>

        <label type='text' for='occupation' name='occupation'>Occupation</label>
        <input type='text' name='occupation'> <br>

        <label type='text' for='investmenttype' name='investmenttype'>Investment Type</label>
        <input type='text' name='investmenttype'> <br> 

        <label type='text' for ='aboutme'>About Me</label> 
        <textarea for='aboutme' type='text' name='aboutme'></textarea> <br>

        <label type='text' for='experience' name='experience'>Experience</label>
        <input type='text' name='experience'> <br>

        <label type='text' for='username' name='username'>Username</label>
        <input type='text' name='username'> <br>
        <label type='text' for='password' name='password'>Password</label>
        <input type='password' name='password'>
        <br>

        <label type='text' for='confirmpassword' name='confirmpassword'>Confirm Password</label>
        <input type='password' name='confirmpassword'>
        <br>
        <button class='signupbutton' >Signup</button>


       

    </form>
    
</body>
</html>