<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>

<header><%- include ('./partials/header.ejs') %></header>
<body>

<br><br>
    <h1 class='signup'>Subscribe</h1> <br>
    <form class='signing' action='/subscribe' method='POST'>
     
        <br>
        <textarea class='membership'> Premium Nembership </textarea>
        <textarea class='membership'> Platinum Membership </textarea>
        <input class='subscribebutton' type='submit' name='signup' value='subscribe'>
    
</body>
</html>